OVN_CTL_OPTS="--ovn-controller-ssl-key=/etc/openvswitch/{{ ansible_hostname }}-privkey.pem  --ovn-controller-ssl-cert=/etc/openvswitch/{{ ansible_hostname }}-cert.pem --ovn-controller-ssl-bootstrap-ca-cert=/etc/openvswitch/ovnsb-ca.cert"

